@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:100vh;
    background: #000;
}
h2
{
    font-size: 3em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}
h2 span
{
    transition: 0.5s;
}
h2:hover span:nth-child(1)
{
    margin-right: 10px;
}

h2:hover span:nth-child(2)
{
    margin-left: 40px;
}
h2:hover span 
{
    color: #b30216;
    text-shadow: 0 0 10px #b30216,
                 0 0 20px #b30216,
                 0 0 40px #b30216,
                 0 0 80px #b30216,
                 0 0 120px #b30216;
}




